[submodule "why3"]
	path = why3
	url = https://github.com/AdaCore/why3.git
	ignore = dirty
[submodule "alt-ergo"]
	path = alt-ergo
	url = https://github.com/AdaCore/alt-ergo.git
	ignore = dirty
[submodule "cvc4"]
	path = cvc4
	url = https://github.com/AdaCore/cvc4.git
	ignore = dirty
[submodule "z3"]
	path = z3
	url = https://github.com/AdaCore/z3.git
	ignore = dirty
